@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary: #f6f6f6;
  --primary-dark: rgb(165, 165, 165);
  --primary-light: rgb(210, 216, 255);
  --dark: #000000;
  --light: #ffffff;
  --accent: #4400ff;
  --accent-light: rgb(78, 68, 217);
  --accent-dark: rgb(51, 0, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-snap-type: y mandatory; */
  scroll-padding-top: 5em;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.container {
  position: relative;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* scroll-snap-align: start; */
}

.btn {
  padding: 12px 20px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--accent);
  text-wrap: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--accent-dark);
  scale: 1.05;
}

nav {
  padding: 1em 3em;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary-dark);
  background-color: var(--light);
  z-index: 9;
}

.nav__logo {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: var(--white);
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}

.nav__item {
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav__item a {
  text-decoration: none;
  color: var(--dark);
}

.nav__item a:hover {
  color: var(--primary-dark);
}

.container h2 {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2rem;
  padding: 12px 0px;
  color: var(--dark);
}

.container::before {
  content: "";
  background-image: url("/static/lines.webp");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 10%;
  z-index: -1;
  mask-image: linear-gradient(rgba(27, 22, 22, 0.592), rgb(27, 22, 22));
  -webkit-mask-image: linear-gradient(rgba(27, 22, 22, 0.592), rgb(27, 22, 22));
}

.hero {
  max-width: 1200px;
  width: 100%;
  max-height: 60vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: auto;
  flex-wrap: wrap;
  border-top: solid 1px var(--primary-dark);
  border-bottom: solid 1px var(--primary-dark);
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 372px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: var(--primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

thead tr {
  position: sticky;
  top: 0;
}

table thead tr {
  background-color: var(--accent);
  color: var(--light);
  text-align: left;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--light);
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  /* border-bottom: 1px solid var(--accent-light); */
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark);
}

.content-table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--accent);
}

.container_ticket {
  position: relative;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* scroll-snap-align: start; */
}

.container_ticket::before {
  content: "";
  background-image: url("/static/admin_pattern.svg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 10%;
  z-index: -1;
  mask-image: linear-gradient, (rgb(27, 22, 22), rgba(27, 22, 22, 0.372));
  -webkit-mask-image: linear-gradient(rgb(27, 22, 22), rgba(27, 22, 22, 0.371));
}

.hero_ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: var(--accent) solid 1px; */
  background-color: var(--primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 1px #919191;
}

.ticket {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ticket_header {
  width: 100%;
  background-color: var(--accent);
}

.ticket_header h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2rem;
  padding: 12px 0px;
  color: var(--light);
}
.ticket_body {
  width: 100%;
  display: flex;
}

.ticket_body_left {
  width: 100%;
  text-align: left;
  flex: 2;
}

.ticket_body_left div:nth-child(odd) {
  background-color: #e9e9e9;
}
.ticket_body_right {
  width: 100%;
  text-align: left;
  flex: 3;
}
.ticket_body_right div:nth-child(odd) {
  background-color: #e9e9e9;
}

.details {
  display: flex;
  justify-content: stretch;
  width: 100%;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 8px 12px;
}

.details_error {
  color: #ff0000;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 8px 12px;
}

.details_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 100px;
}

.details_input input {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--primary);
}

.details_input input::placeholder {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}

.validity {
  display: flex;
  justify-content: center;
}

.red {
  color: #ff0000;
  font-weight: 600;
}

.green {
  color: green;
  font-weight: 600;
}
