@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary: #f6f6f6;
  --primary-dark: rgb(165, 165, 165);
  --primary-light: rgb(210, 216, 255);
  --dark: #000000;
  --light: #ffffff;
  --accent: #4400ff;
  --accent-light: rgb(78, 68, 217);
  --accent-dark: rgb(51, 0, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 5em;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
}

.btn {
  padding: 12px 20px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--accent);
  text-wrap: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn_log {
  padding: 12px 20px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  color: var(--accent);
  background-color: var(--light);
  text-wrap: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--accent-dark);
  scale: 1.05;
}

nav {
  padding: 1em 3em;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary-dark);
  background-color: var(--light);
  z-index: 9;
}

.nav__logo {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: var(--white);
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}

.nav__item {
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav__item a {
  text-decoration: none;
  color: var(--dark);
}

.nav__item a:hover {
  color: var(--primary-dark);
}

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container::before {
  content: "";
  background-image: url("/static/admin_pattern.svg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 5%;
  z-index: -1;
}

.hero {
  max-width: 1200px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
}
.slots {
  width: 1200px;
  padding: 20px 0px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  border: 1px solid var(--accent);
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: #6c88e2;
}

.flex1 {
  width: 36%;
  display: flex;
  justify-content: space-between;
}

.flex2 {
  width: 36%;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.square {
  display: flex;
  width: 100px;
  height: 80px;
  background-color: #f28500;
  color: var(--light);
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid var(--dark);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2rem;
  color: var(--light);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_slots {
  width: 1200px;
  padding: 32px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  border-radius: 10px;
  background-color: var(--accent);
}

.input_slots h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.forminputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forminputs input {
  background-color: #eee;
  border: none;
  margin: 16px 0;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.input_box {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.input_box label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.logbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px 20px 0px;
}

/* The alert message box */
.alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 350px;
  padding: 20px;
  background-color: #f44336; /* Red */
  border-radius: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  top: 45%;
  left: 39%;
  animation: anim 100ms linear;
}
.alert button {
  background-color: var(--light);
  color: red;
}
.alert button:hover {
  background-color: var(--light);
  color: red;
}
.active {
  display: none;
}

@keyframes anim {
  0% {
    scale: 80%;
    opacity: 0%;
  }

  100% {
    scale: 100%;
    opacity: 100%;
  }
}
